__pycache__/
*.py[cod]
.ipynb_checkpoints/

checkpoints/
logs/
runs/
outputs/
output/
metric_logs/
final_results/

*.pth
*.pt
*.pth.tar
*.ckpt

.env
.venv/
data/*
!data/hflow320/
data/hflow320/**
!data/hflow320/train_set/
!data/hflow320/valid_set/
!data/hflow320/test_set/
!data/hflow320/*/.gitkeep
datasets/
/hflow320*/
